*{
    box-sizing:border-box;
    margin-top: 50px;
    padding: 0%;
}

body{
    position: relative;
    color:#0d3b66;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('/static/app/img/fondo.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: top left;
    opacity: 0.6; /* 20% opacidad */
    pointer-events: none;
    z-index: -1;
}

.main-wrapper{
padding:40px 20px;
}

.wedding-container{
max-width:850px;
margin:auto;
}

.passport-card{

    background: rgba(255, 255, 255, 0.92);
    padding:50px;
    border-radius:12px;
    box-shadow:0 15px 40px rgba(0,0,0,0.1);
    border:none;
    position:relative;

}

.stamp {
    position: absolute;
    width: 140px;
    height: 140px;
    pointer-events: none;
    opacity: 0.78;
    transform-origin: center;
}

.stamp svg {
    width: 100%;
    height: 100%;
}

.title{
    font-family:'Times new roman MT', serif;
    text-align:center;
    font-size:42px;
    color:#0d3b66;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    margin-bottom:30px;
}

.novios{
    font-family: 'Playfair Display', serif !important;
    text-align: center;
    font-size: 38px;
    margin-top: -80px;
    color: #0d3b66;
    font-weight: 600;
    line-height: 1.1;
}
.section{
    margin-top:35px;
}

.section h3{
    border-bottom:2px dashed #0d3b66;
    padding-bottom:8px;
    margin-bottom:15px;
    font-family:'Playfair Display', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.passport{
    background: rgba(250, 246, 239, 0.85);
    padding:20px;
    border-radius:10px;
    border:none;
}

.center{
    text-align:center;
}

.button{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#7a5c2e;
    color:#0d3b66;
    border-radius:6px;
    text-decoration:none;
    transition:0.3s;
}

.button:hover{
    background:#5a421f;
    color:#0d3b66;
}

.check-in{
    background:#5a421f;
}

.check-in:hover{

background:#5a421f;

}

.video-section {
    text-align: center;
    margin-top: 40px;
}

.video-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.video-container video {
    border: 2px solid #d8c7a3;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

/* SECCION COUNTDOWN */

.countdown-section{

text-align:center;

margin-top:60px;

padding:40px 20px;

}

/* FECHA GRANDE */

.event-date{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}

.big-date{

    font-size:150px;

    font-family:'Playfair Display', serif;

    color:#0d3b66;

    height: 270px;

    font: weight 700px;

    align-items:center;

    justify-content:center;

}

.date-info{
    text-align:left;
}

.month{
    display:block;
    font-size:20px;
    letter-spacing:2px;
    color:#0d3b66;
}

.year{
    margin-top: 0;
    display:block;
    font-size:20px;
    letter-spacing:2px;
    color:#0d3b66;
}

.time{
    display:block;
    font-size:20px;
    color:#0d3b66;
    margin-top:2px;
}

/* TITULO */

.countdown-title{

font-size:20px;

letter-spacing:2px;

margin-bottom:30px;

font-family:'Playfair Display', serif;

color:#0d3b66;

}

/* CONTADOR */

#countdown{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    overflow-x:visible;
    padding: 0 10px;
}

/* CIRCULOS */

.circle{
margin-top: 0%;
width:70px;
height:70px;
min-width:70px;
border-radius:50%;
background:#0d3b66;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:#faf0ca;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
text-align:center;
padding:8px;
}

.circle span{

font-size:34px;

font-weight:800;

line-height:1;
margin-top: 0%;
}

.circle p{

margin:3px 0 0;

font-size:14px;

letter-spacing:0.6px;

}

/* NUEVOS ESTILOS VIAJE */

.passport-info{

text-align:center;

margin-bottom:30px;

font-size:16px;

}

.qr-box{

width:160px;

height:160px;

margin:auto;

border:2px dashed #b79b6c;

border-radius:10px;

}

/* CORTE DE IMAGEN INICIO CUADRADA */
.imagen-inicio{
    width: 600px;
    height: 600px;
    margin-left: 13%;
    margin-top: -70px;
    overflow: hidden;
    display: flex;
}

.imagen-inicio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}


.final-message{

margin-top:50px;

font-style:italic;

}

.novios-final{

margin-top:10px;

font-weight:bold;

font-size:20px;

}

/* ICONOS DECORATIVOS */

.section h3{

font-size:22px;

}
.qr-img{

width:140px;

height:140px;

border-radius:8px;

box-shadow:0 5px 12px rgba(0,0,0,0.15);

}
.map-container{
    margin-top:20px;
    border:2px dashed #b79b6c;
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    transition:0.3s;
}

.map-container:hover{
    transform:scale(1.02);
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.map-container iframe{
    width:100%;
    height:300px;
    border:0;
}

/* FIX RESPONSIVE */

@media (max-width:768px){

    .wedding-container{
        max-width:100%;
        margin:0 auto;
        padding:0 15px;
    }

    .title{
        font-family:'Times new roman MT', serif;
        font-size:36px;
        color:#0d3b66;
        margin:20px auto;
        text-align:center;
    }

    .subtitle{
        text-align:center;
        margin:0 auto 20px;
    }

    .imagen-inicio{
        width: 100%;
        height: 300px;
        margin:20px auto;
        overflow: hidden;
        display: flex;
        justify-content:center;
    }

    .imagen-inicio img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        display: block;
    }

    .novios{
        font-family: 'Playfair Display', serif !important;
        text-align: center;
        font-size: 28px;
        margin:20px auto;
        color: #0d3b66;
        font-weight: 600;
        line-height: 1.1;
    }

    .passport-info{
        padding:15px;
        margin:20px auto;
        text-align:center;
    }

    .section{
        margin:20px auto;
        padding:0 15px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .passport-card{
        padding:20px;
        margin:0 auto;
    }

    .big-date{
        font-size:60px;
        height:auto;
        margin:0 auto;
    }

    .event-date{
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin:20px auto;
    }

    .date-info{
        text-align:left;
        margin-top:0;
    }

    .button{
        width:100%;
        max-width:300px;
        text-align:center;
        margin:20px auto;
        display:block;
    }

    .section h2{
        border-bottom:2px dashed #0d3b66;
        padding-bottom:8px;
        margin:20px 0;
        font-family:'Playfair Display', serif;
        text-align:center;
    }

    .section h3{
        border-bottom:2px dashed #0d3b66;
        padding-bottom:8px;
        margin:20px 0;
        font-family:'Playfair Display', serif;
        text-align:center;
    }

    #countdown{
        gap:8px;
        justify-content:center;
        margin:20px auto;
    }

    .circle{
        width:70px;
        height:70px;
        min-width:70px;
        flex-shrink:0;
    }

    .circle span{
        font-size:40px;
    }

    .circle p{
        font-size:12px;
    }

    .video-section{
        margin:20px auto;
        padding:0 15px;
    }

    .video-container{
        margin:15px auto;
    }

    .video-container video{
        width:100%;
        max-width:100%;
        height:auto;
    }

    .map-container{
        margin:20px auto;
        border:2px dashed #b79b6c;
    }

    .countdown-section{
        text-align:center;
        margin:20px auto;
        padding:20px 15px;
    }

    .countdown-title{
        font-size:18px;
        margin:20px auto;
    }
}
