{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<head></head>
<div class="wedding-container">

        <!-- INICIO CODIGO -->
        <h1 class="title">PASAPORTE DE AMOR</h1>
        <p class="subtitle">El Viaje de Nuestras Vidas</p>
            <div class="imagen-inicio">

                <img src="{% static 'app/img/imagen_inicio.png' %}" alt="Imagen de Inicio" class="imagen-inicio_1">

            </div>
        <h2 class="novios"><em>Armando y Jessica</em></h2>
           
        <div class="passport-info">

            <p><b>Destino:</b> Matrimonio</p>
            <p><b>Fecha de emisión:</b> 11 · 10 · 2026</p>

        </div>

        <!-- VIDEO SECCION -->
        <div class="video-section">
            <h3>Nuestro Amor en Imágenes</h3>
            <div class="video-container">
                <video autoplay muted loop playsinline controls>
                    <source src="https://drive.google.com/uc?export=download&id=1IWryk6tyQ9AIv6bj8Kx5IH4ER_3fOApV" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
        
        <div class="section">

            <h3>Nuestro Viaje</h3>
            <p>
            Hace 19 años nuestros caminos se cruzaron para siempre. 
            Desde entonces hemos recorrido este camino juntos, y muchos de ustedes 
            han sido parte importante de nuestra historia.
            </p>
            <p>
            Hoy queremos invitarlos a acompañarnos a celebrar el amor 
            y el inicio de un nuevo viaje sin retorno, hacia la eternidad.
            </p>
            <p>
            Prepárense para celebrar con nosotros esta nueva etapa de nuestra historia.
            </p>

        </div>

        

        <!-- CONTADOR PARA EL DIA DEL MATRIMONIO -->
        <div class="countdown-section">

            <div class="event-date">

                <span class="big-date">11</span>

                <div class="date-info">
                    <span class="month">DE OCTUBRE</span>
                    <span class="year">DE 2026</span>
                    <span class="time">A LAS 18.30 HRS</span>
                </div>

            </div>

            <h3 class="countdown-title">
            LA CUENTA REGRESIVA <br>
            COMIENZA EN
            </h3>

            <div id="countdown">

                <div class="circle">
                    <span id="days">00</span>
                    <p>Días</p>
                </div>

                <div class="circle">
                    <span id="hours">00</span>
                    <p>Horas</p>
                </div>

                <div class="circle">
                    <span id="minutes">00</span>
                    <p>Minutos</p>
                </div>

                <div class="circle">
                    <span id="seconds">00</span>
                    <p>Segundos</p>
                </div>

            </div>

        </div>


        <div class="section passport">

            <h3>Sello de destino – Ceremonia</h3>

            <p><b>Fecha:</b> 11 de octubre de 2026</p>
            <p><b>Hora:</b> 18:30 hrs</p>

            <p><b>Lugar:</b></p>
            <p>Centro de Eventos Santa Catalina de Chicureo</p>

        </div>

        <!-- UBICACION DEL MATRIMONIO  -->
        <div class="section passport">
            <h3>Sello de destino – Recepción / Fiesta</h3>
            <p>
            Luego de la ceremonia los invitamos a continuar celebrando juntos.
            </p>
            <p><b>Recepción y Fiesta</b></p>
            <p>
            Centro de Eventos Santa Catalina de Chicureo
            </p>
            <p>
            Inmediatamente después de la ceremonia
            </p>
            <p>
            Prepárense para una noche llena de celebración.
            </p>
        </div>

        <div class="section passport center">

            <h3>Ubicación del evento</h3>

            <p>Presiona el mapa para abrir la navegación en tu dispositivo</p>

            <div id="map" style="height: 400px; border-radius: 10px; margin: 20px 0;"></div>

        </div>

        <div class="section passport">

            <h3>Información de viaje</h3>

            <p><b>Dress Code</b></p>

            <p>
            Hombres: Formal <br>
            Mujeres: Formal elegante
            </p>

            <p>
            Sugerimos preferir tonos medios u oscuros para mantener 
            la armonía del evento.
            </p>

            <p><b>Relájate</b></p>

            <p>
            Para que todos puedan relajarse y disfrutar plenamente de la celebración, 
            este será un evento sin niños.
            </p>

            <p>
            Agradecemos mucho su comprensión.
            </p>

        </div>

        <!-- ALBUM DE FOTOS -->
        <div class="section passport center">

            <h3>Sello de recuerdos</h3>

            <p>
            Nos encantará ver el matrimonio también desde su mirada.
            </p>

            <p>
            Escanea el QR y comparte las fotos y videos que captures durante la celebración.
            </p>

            <div class="qr-box">

                <img src="{% static 'app/img/qr_album.png' %}" alt="QR Album" class="qr-img">

            </div>

        </div>

        <!-- LISTA DE RAGALOS -->
        <div class="section passport center">

            <h3>Equipaje de regalos</h3>

            <p>
            Nos encanta viajar y descubrir el mundo juntos.
            </p>

            <p>
            Si desean hacernos un regalo, el mejor regalo será ayudarnos 
            a sumar kilómetros a nuestro próximo viaje.
            </p>

            <p><b>Lista de Novios</b></p>

            <a class="button" href="https://milistadenovios.cl/enviar.php?id=31237" target="_blank">
            www.milistadenovios.cl
            </a>

        </div>

        <!-- FORMULARIO DE ASISTENCIA -->
        <div class="section center">

            <h3>Check-in</h3>

            <p>
            Por favor confirmar su asistencia.
            </p>

            <p>
            Confirmación (Check-in)
            </p>

            <a class="button check-in" href="https://docs.google.com/forms/d/e/1FAIpQLSdt27hdCQEr-ZyDFQ20AwXZJ-utrGaOn1MPj-O6y6BG_ayAPA/viewform?usp=header">
            Check-in
            </a>

        </div>


        <div class="section center final-message">

            <p>
            Gracias por ser parte de nuestra historia
            </p>

            <p>
            y acompañarnos en el viaje más importante de nuestras vidas.
            </p>

            <p class="novios-final">
            Armando & Jessica
            </p>

        </div>
</div>
<footer></footer>
<script src="{% static 'app/js/validador.js' %}"></script>

{% endblock %}